<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Stop n Go</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<link rel="shortcut icon" href="/stopngo.png" type="image/png"/>
<link rel="icon" href="/stopngo.png" type="image/png"/>
<link rel="apple-touch-icon" href="/stopngo.png"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Stop n Go"/>

<meta name="description" content="Stop n Go"/>
<meta name="keywords" content="Stop n Go"/>

<!-- // OGP tags -->
<meta property="og:title" content="Stop n Go"/>
<meta property="og:type" content="article"/>
<% if( id ){ %>
<meta property="og:url" content="https://stop-n-go.mybluemix.net/document/<%= id %>"/>
<% }else{ %>
<meta property="og:url" content="https://stop-n-go.mybluemix.net/"/>
<% } %>
<meta property="og:image" content="https://stop-n-go.mybluemix.net/stopngo.png"/>
<meta property="og:site_name" content="Stop n Go"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="@dotnsf"/>
<meta property="twitter:creator" content="@dotnsf"/>
<% if( id ){ %>
<meta property="twitter:url" content="https://stop-n-go.mybluemix.net/document/<%= id %>"/>
<% }else{ %>
<meta property="twitter:url" content="https://stop-n-go.mybluemix.net/"/>
<% } %>
<meta property="twitter:image" content="https://stop-n-go.mybluemix.net/stopngo.png"/>
<meta property="twitter:title" content="Stop n Go"/>
<meta property="twitter:description" content="Stop n Go"/>
<!-- Twitter Card // -->

<script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet"/>

<style>
</style>
</head>
<body>
